body {
    background: linear-gradient(0deg, rgba(68,17,107,1) 0%, rgba(104,51,143,1) 0%, rgba(20,139,163,1) 100%);
}

p {
    font-size: 15px;
}

.img-vector {
    width: 550px;
    padding-top: 180px;
    padding-left: 30px;
}

.img-vector-decor {
    position:fixed;
    left:0;
    bottom:0;
    margin:0;
    padding:0;
    width:200px;
}

.img-vector-card {
    width: 480px;
    padding-top: 30px;
    padding-left: -30px;
}

.img-profile {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 50%;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    height: 120px;
    width: 120px;
    cursor: pointer;
}

.img-profile:hover{
    opacity: 0.3;
}

.box {
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}

.box .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 15%;
    right: 0;
    text-align: center;
    top: 20%; /* Adjust this value to move the positioned div up and down */
    width: 60%; /* Set the width of the positioned div */
}

@font-face {
    font-family: defaultFont;
    src: url("../assets/fonts/raleway-regular.ttf");
}

@font-face {
    font-family: titleFont;
    src: url("../assets/fonts/copperplate-gothic.ttf");
}

div {
    font-family: defaultFont;
    text-align: center;
}

.padding {
    padding-left: 60px;
}

.padding-bottom {
    padding-bottom: 20px;
}

.logout-text {
    color: white;
    text-decoration: none;
}

.logout-text:hover {
    color: white;
    text-decoration: none;
}

.btn-logout {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    height: 35px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 10px 0 rgba(116, 79, 168, 0.75);
}

.btn-logout:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: white;
}

.btn-logout:focus {
    outline: none;
}
